CONFIG_GNRC_IPV6_NIB_6LN=y
CONFIG_GNRC_NETIF_MSG_QUEUE_SIZE_EXP=5
# 12 s CoAP NON response wait. This must be longer than the MAC indirect
# frame lifetime below, otherwise gcoap times out before sleepy-poll delivery
# has a chance to complete.
CONFIG_GCOAP_NON_TIMEOUT=12000000
CONFIG_GCOAP_RESEND_BUFS_MAX=32
CONFIG_GCOAP_REQ_WAITING_MAX=32
CONFIG_KCONFIG_MODULE_IEEE802154_MAC=y
CONFIG_IEEE802154_MAC_TXQ_LEN=32
CONFIG_IEEE802154_MAC_TX_INDIRECTQ_SIZE=31
# 10 s indirect frame lifetime: 625000 symbols * 16 us/symbol.
CONFIG_IEEE802154_MAC_FRAME_TIMEOUT=625000
